pandas
numpy
ensure
sqlalchemy
scikit-learn
boto3
PyYAML
types-PyYAML

# dev requirements -
pytest
tox                    # using "tox" we test our code in different different environment
black                  # it is a linting tool.it check all the indentation.
flake8                 # it is also using for the same reasom for linting
mypy